* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 20%;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(176, 176, 176);
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #000;
}

nav ul li a:hover {
    background-color: #ADFF2F;
}

.banner {
    height: 500px;
    background-image: url('../images/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(320px, auto);
    gap: 30px;
}

section .left .tieude {
    margin-top: 20px;
}

section .left .tieude img {
    width: 10%;
}

section .left .tieude h3 {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #ADFF2F;
    text-transform: uppercase;
    border-radius: 5px;
}

section .left .tieude h3 img {
    width: 10%;
}

section .left .tieude h3 span {
    margin-left: 10px;
}

section .left .nd h4 {
    font-size: 17px;
    margin: 10px 0;
    color: orange;
}

section .left .nd .nd1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

section .left .nd .nd1 img {
    width: 40%;
}

section .left ul {
    font-weight: bold;
    margin: 30px 0;
    padding-left: 20px;
}

section .left ul li {
    list-style: square;
}

section .all {
    width: 100%;
}

section .between {
    margin-top: 20px;
}

section .between .between1 {
    margin-bottom: 30px;
}

section .between .between1 img {
    width: 100%;
}

section .between .between1 p .first {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-color: #ADFF2F;
}

section .between .between1 p .second {
    font-weight: bold;
    color: rgb(255, 123, 57);
}

section .content-right ul {
    margin-top: 20px;
}

section .content-right ul li {
    padding: 5px;
    background-color: #ADFF2F;
    margin-left: 30px;
    margin-bottom: 10px;
    list-style: none;
    border-radius: 5px;
}

section .content-right ul li i{
    font-size: 10px;
}
.duongke{
    margin: 0 auto;
    width: 90%;
}

footer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer img{
    width: 80%;
}
footer .w{
    width: calc(100% / 3);
}
footer ul{
    list-style: none;
}
footer ul.text-right{
    text-align: right;
}